@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.fitvora {
    font-family: 'Poppins', sans-serif;
    font-weight: 800; /* This sets the weight to 800 */
    font-size: 32px;  /* This sets the size to 32px */
  }
